@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import "/{meta:susy}/susy";

$susy: (
  columns: 12,
  global-box-sizing: border-box
);

@include border-box-sizing;

$lightest: #EEE;
$darkest: #222;
$blue: #50b2bd;
$blue-hover: #3c949e;

body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  background-color: $lightest;
}

hr {
  border: 1px solid $lightest;
}

.container {
  @include container();
}

.fs {
  height: 100vh;
  overflow: hidden;
}

.bcg {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  #intro & {
    background-image: url(images/dancing.jpg);
    background-position: center 0;
    filter: contrast(130%) brightness(0.8);
    @media (max-width: 768px) {
      background-position: 25% 0;
    }
  }
  #story & {
    height: 200%;
    top: -100%;
    background-image: url(images/flatirons.jpg);
    background-position: 100% center;
  }
  #song & {
    background-image: url(images/grass.jpg);
    background-position: 25% center;
  }
}

.banner {
  min-height: 670px;
  text-align: center;
  color: $lightest;
  position: relative;
  .wrapper {
    position: relative;
    padding: 2em 0;
    z-index: 2;
  }
  @media (max-width: 768px) {
    min-height: 540px;
  }
}

.banner-heading {
  z-index: 2;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 0.9;
  color: $lightest;
  @media (max-width: 768px) {
    font-size: 0.8em;
  }
}

.banner-date {
  @extend .banner-heading;
  position: relative;
  left: 15%;
  & hr {
    width: 12em;
  }
  @media (max-width: 768px) {
    left: 0;
  }
}

.banner-countdown {
  @extend .banner-heading;
  position: absolute;
  bottom: 95px;
  width: 100%;
}

.big {
    font-size: 2em;
  }

.logo {
  padding: 0 gutter();
  & path {
    stroke-width: 2px;
    fill: transparent;
    stroke: $lightest;
  }
  &.active path {
    transition: fill 0.5s;
    fill: $lightest;
  }
  @media (max-width: 768px) {
    position: relative;
    top: -3em;
  }
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: -60px;
  animation: bounce 3.5s ease-in-out infinite;
}

.arrows path {
	stroke: $lightest;
	fill: transparent;
	stroke-width: 2px;	
}

@keyframes bounce {
  0% { bottom: -60px }
  10% { bottom: -70px }
  20% { bottom: -60px }
}

.slide {
  position: relative;
  z-index: 2;
  .wrapper {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &#story {
    .wrapper {
      position: absolute;
      top: 20%;
      @media (max-width: 768px) {
        position: relative;
        top: 0;
      }
    }
  }
}
.text-block {
  width: 600px;
  line-height: 1.5;
  margin: 1.2em auto;
  @media (max-width: 768px) {
    width: span(11 of 12);
    font-size: 0.9em;
  }
}

.content-block {
  font-size: 1.3em;
  position: relative;
  padding: 20px 0;
  z-index: 2;
  .light-section & {
    color: $darkest;
    background-color: $lightest;
  }
  .dark-section & {
    color: $lightest;
    background-color: rgba(0,0,0,0.55);
  }
  .break-section & {
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
}

.slideInUp {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-out;
  transform: translate3d(0, 50px, 0);
  &.slideInUp2{transition-delay: 0.2s;}
  .active & {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.map {
  height: 80vh;
  width: 100%;
  position: relative;
}

.location-box-container {
  position: absolute;
  right: 50%;
  top: span(2 of 12);
  width: span(3 of 12);
  min-width: 180px;
  z-index: 9990;
}

.location-box {
  display: none;
  padding: 1em;
  background-color: white;
  box-shadow: 0 0 30px 5px rgba(0,0,0,0.1);
  ul {
    margin-top: 0;
  }
}

.location {
  padding-bottom: 1em;
}

.directions {
  text-align: right;
}


.is-loading {
  overflow: hidden;
}

/* =Navigation */
nav {
  display: none;
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  z-index: 9999;
  a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: $lightest;
    text-decoration: none; 
    &:hover {
      .nav-label {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .nav-dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: transparentize($darkest, 0.4);
    border-radius: 100%;
    transform: translateY(-50%); 
    transition: all 0.3s linear;
  }
  a {
    color: transparentize($darkest, 0.2);
  }
  .nav-label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    transform: translateX(-10px);
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
  }
  &.is-dark {
    a {
      color: $darkest;
    }
    .nav-dot {
      background-color: transparentize($darkest, 0.3);
    }
  }
  &.is-light {
    a {
      color: $lightest;
    }
    .nav-dot {
      background-color: $lightest;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    width: auto;
    list-style: none;
  }
}

// Bride & Groom Photo Cards
#bios {
  .wrapper {
    padding: gutter()/2;
  }
}
.bio-card {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  color: $lightest;
  text-align: center;
  background-color: $darkest;
  * {
    transition: all 0.3s ease;
  }
  img {
    width: 100%;
    max-height: 100%;
    min-height: 30vh;
    backface-visibility: hidden;
  }
  h2 {
    opacity: 0.8;
    margin: 0;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  figcaption {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px 20px 50px;
  }
  p {
    margin: 0 auto;
    padding: 8px auto 15px;
    max-width: 500px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  &.hover {
    p {
      transform: translateY(0%);
    }
    figcaption {
      opacity: 1;
      transition-delay: 0.2s;
    }
    > img {
      filter: blur(30px);
      transform: scale(1.2);
      opacity: 0.15;
    }
  }
  @media (min-width: 769px) {
    &:nth-of-type(2n + 1) {
      width: span(6 of 12);
    }
    &:nth-of-type(2n) {
      width: span(6 of 12 last);
    }
  }
}

#song-request {
  text-align: center;
  width: 100%;
  padding: 2em 0 3em 0;
}

.field {
  display: inline-block;
  width: span(2 of 12);
  vertical-align: bottom;
  * {
    margin: 5px;
    border: none;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    font-size: 0.9em;
  }
  @media (max-width: 768px) {
    width: span(11 of 12);
  }
}
  
input[type="text"] {
  padding: 10px;
  text-align: center;
  background-color: $lightest;
  color: $darkest;
}

input[type="submit"] {
  padding: 0 10px;
  background-color: $blue;
  color: $lightest;
  font-family: inherit;
  &:hover {
    background-color: $blue-hover;
  }
}

#songs-table {
  table {
    margin: 100px auto;
  }
  table, tr, td {
    border: 1px solid $darkest;
    text-align: center;
    border-collapse: collapse;
    color: $darkest;
    padding: 5px;
  }
  thead {
    font-weight: bold;
  }
}