<template name="bios">
  
  <article id="bs02" class="light-section break-section">
    <div class="wrapper">
      <header class="content-block">
        <h1 class="slideInUp big">The Bride & Groom</h1>
      </header>
    </div> <!-- .wrapper -->
  </article>
  
  <article id="bios" class="slide dark-section container">
    <div class="wrapper">
      <section>
        <figure class="bio-card">
          <img id="laura" src="images/laura1.jpg" alt="Laura" />
          <figcaption>
            <h2>Laura</h2>
            <p>Loves laughing loudly, dancing, commercials that make her cry, handmade goods, paper, and TJ Maxx.</p>
          </figcaption>
        </figure>
        <figure class="bio-card">
          <img src="images/john1.jpg" alt="John" />
          <figcaption>
            <h2>John</h2>
            <p>Loves a medium-rare steak, a glass of whiskey (no ice), large stacks of pillows to nest in, sleeping during movies, and repeating the same joke louder until someone laughs.</p>
          </figcaption>
        </figure>
      </section>
    </div> <!-- /wrapper --> 
  </article>
  
</template>