<template name="content">
  <article id="slide1" class="slide fs">
    <div class="wrapper text-center">
      <header>
        <h1 class="slideInUp">It all began...</h1>
      </header>
      <section>
        <p class="slideInUp">in Boulder, Colorado...</p>
      </section>
    </div> <!-- .wrapper -->
  </article>
  
  <article id="map" class="map slide fs">
    <div class="location-box-container">
      <div class="location-box">
        <h2>Spruce Mountain Ranch</h2>
        <address class="location">
          14771 South Spruce Mountain Road <br>
          Larkspur, CO 80118
        </address>
        <span class="directions">
          <a href="https://www.google.com/maps/dir//Spruce+Mountain+Ranch,+14771+Spruce+Mountain+Road,+Larkspur,+CO+80118/@39.1500524,-104.8947099,17z/data=!4m16!1m7!3m6!1s0x876caf06c1afc669:0xb1756c4ba1ed03a5!2sSpruce+Mountain+Ranch!3b1!8m2!3d39.1501814!4d-104.8906437!4m7!1m0!1m5!1m1!1s0x876caf06c1afc669:0xb1756c4ba1ed03a5!2m2!1d-104.8906437!2d39.1501814" target=blank>Get directions</a>
        </span>
      </div>
    </div>
    {{> googleMap name="location" options=mapOptions }}
  </article>
</template>