<template name="nav">
  <nav>
    <ul>
      <li><a href="#intro"><span class="nav-dot"></span><span class="nav-label">Intro</span></a></li>
      <li><a href="#bs01"><span class="nav-dot"></span><span class="nav-label">Story</span></a></li>
      <li><a href="#bs02"><span class="nav-dot"></span><span class="nav-label">Laura & John</span></a></li>
      <li><a href="#bs03"><span class="nav-dot"></span><span class="nav-label">Details</span></a></li>
      <li><a href="#bs04"><span class="nav-dot"></span><span class="nav-label">Registry</span></a></li>
      <li><a href="#bs06"><span class="nav-dot"></span><span class="nav-label">Song Requests</span></a></li>
    </ul>
  </nav>
</template>