<template name="registry">
  <article id="bs04" class="light-section break-section">
    <div class="wrapper">
      <header class="content-block">
        <h1 class="slideInUp big">We like fancy things!</h1>
      </header>
    </div> <!-- .wrapper -->
  </article>
  
   <article id="registry" class="slide light-section fs">
    <div class="wrapper">
      <section>
        <a class="zola-registry-embed" href="https://www.zola.com/registry/laura-john" data-registry-key="laura-john">Our Zola Wedding Registry</a>
        <script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
      </section>
    </div>
  </article>
  
  <article id="bs05" class="light-section break-section">
    <div class="wrapper">
      <header class="content-block">
        <h1 class="big">See you in the Fall!</h1>
      </header>
    </div> <!-- .wrapper -->
  </article>
</template>