<template name="story">
  
  <article id="bs01" class="light-section break-section">
    <div class="wrapper">
      <header class="content-block">
        <h1 class="slideInUp big">It all began</h1>
        <h2 class="slideInUp slideInUp2">in Boulder, Colorado...</h2>
      </header>
    </div> <!-- .wrapper -->
  </article>
  
  <article id="story" class="dark-section slide fs">
    <div class="bcg no-touch"></div>
    <div class="wrapper">
      <section class="content-block slideInUp">
        <hr width='250px'>
        <p class="text-block"><strong>It was the Fall of 2009</strong> on a Tuesday at 7pm. John looked up, noticed Laura on the other side of the room and got an unfamiliar <strong>boost of confidence.</strong> A simple moment of witty banter back and forth about the evening’s event started something <strong>big.</strong></p>
        <p class="text-block">It’s <strong>crazy</strong> to think that such a small moment can lead to 6 years and then to <strong>forever</strong> with someone. God has blessed the good, the bad, the tears shed and the endless laughter. That <strong>unexpected moment</strong> on that random Tuesday led to a <strong>love</strong> so significant that it’s hard to put into words.</p>
        <hr width='250px'>
      </section>
    </div> <!-- .wrapper -->
  </article>
  
</template>